extends layout

block content
  h1 RESTful timestamp API
  p.red Example Usage
  code localhost:3000/January 01, 1970
  br 
  code localhost:3000/1
  p.red Expected output is JSON 
  code {"unix": 1, "natural": January 01, 1970}
